.containerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.containerChangePassword{
    width: 320px;
    height: 525px;
    background: rgb(52, 58, 64);
    color: #fff;
    padding: 30px 30px;
    border-radius: 5%;
    margin-bottom: 15px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-content: center;
}

.stileErrore h5{
    font-size: 22px;
    text-align: center;
    color: red;
}

.stileP p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0;
}

.containerChangePassword input{
    width: 100%;
    margin-bottom: 20px;
}

.stileInput input[type="email"], input[type="password"], input[type="text"]{
    border: none;
    outline: none;
    height: 35px;
    font-size: 16px;
}

.stilebottoni input[type="submit"]{
    background-color: rgb(251, 37, 37);
    border-color: black;
}

.aspettoInfo{
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}